$bg-dark: #222;
$br-dark: #111;
$sidebar: #252526;
$header: #bbbbbb;
$button: #858585;
$text: #fff;
$domain: #007acc;
$hover-bg: #37373d;
$text-muted: #cccccc;
$item-hover: #2a2d2e;
$border-search: #333;
$title: #888;